.modal-header {
  text-align: center;
  border-bottom: 0;
}

.modal-title {
  width: 100%;
  font-weight: bold;
}

.form-label {
  font-weight: bold;
}

.btn-block {
  width: 100%;
}

.modal-body {
  padding: 2rem;
}

.text-center {
  text-align: center;
}

.mt-3 {
  margin-top: 1rem;
}

.text-danger {
  color: red;
}

  