/* Header.css */
.pink-navbar {
  background-color: rgb(239, 159, 130)  ; /* Pink color */
  height: 30px;
}

.logo {
  font-weight: bold;
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Adjust for proper spacing between links */
}

.nav-link-spacing {
  margin: 0 10px; /* Adjust for fine-tuning spacing between links */
}

.login-btn {
  display: flex;
  align-items: center;
  margin-left: auto; /* Move the login button to the right */
}

.login-btn .fa-sign-in-alt {
  margin-right: 5px; /* Space between icon and text */
}



.pink-navbar {
  position: relative;
}

.call-us {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px; /* Adjust this value as needed */
  font-family: Arial, sans-serif; /* Change the font family to your preference */
  font-size: 16px; /* Adjust font size as needed */
  color: rgb(17, 6, 6); /* Text color */
  animation: flash 1.5s infinite; /* Animation */
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
